elasticsearch:
  image: dockerfile/elasticsearch
  expose:
    - "9200"
db:
  image: morshed/postgresql
  ports:
    - 127.0.0.1:5432:5432
  volumes:
    - pg_data/:/var/lib/postgresql/data
  environment:
    - POSTGRESQL_PASS=...
web:
  build: .
  ports:
    - "80:80"
    - "443:443"
  links:
    - db
    - elasticsearch
  environment:
    - POSTGRESQL_PASS=...
    - BRANCH=...           # Optional branch of git to deploy with, i.e. kingman
    - ENABLE_SSL=no        # Change to yes to enable https on your site (and redirect http to https)
  volumes:
    - settings/local_settings.py:/opt/apps/farnsworth/farnsworth/local_settings.py
    - settings/house_settings.py:/opt/apps/farnsworth/farnsworth/house_settings.py
    - keys/:/opt/apps/keys
